.popular-now,
.coming-soon{
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #131415;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.popular-now2,
.coming-soon2,
.drama-movies,
.comedy-movies,
.animation-movies,
.all-movies {
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #131415;
  padding-bottom: 40px;
  /* display: flex;
  justify-content: center; */
}


.popular-now > h2,
.coming-soon > h2,
.drama-movies > h2,
.comedy-movies > h2,
.animation-movies > h2,
.all-movies > h2 {
  color: #cc00aa;
  padding-top: 30px;
  font-family: "Roboto Black";
  font-size: 2rem;
}

.popular-now2 > h2,
.coming-soon2 > h2{
  color: #cc00aa;
  padding-top: 30px;
  font-family: "Roboto Black";
  font-size: 2rem;
}

.pop1{
  text-align: center;
  background-color: #131415;
  padding-bottom: 40px;
  color: #cc00aa;
  padding-top: 30px;
  font-family: "Roboto Black";
  font-size: 2rem;
}

.carousel-container,
.carousel-container2,
.carousel-container3,
.carousel-container4,
.carousel-container5,
.carousel-container6 {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-left: 30px;
}

.carousel,
.carousel2,
.carousel3,
.carousel4,
.carousel5,
.carousel6 {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
  overflow-x:hidden;
  padding: 20px 0;
  justify-content: center;
}

.movie-card {
  width: 200px;
  background-color: #cc00aa7e;
  border-radius: 10px; /* Rounded corners for the card */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-10px); /* Slight lift effect on hover */
}

.movie-card img {
  width: 100%;
  height: 309px;
  object-fit: cover;
  border-bottom: 2px solid #131415; /* Border below the image */
}

.movie-card .details {
  padding: 10px;
  font-family: "Roboto Medium";
  color: #fff;
  font-size: 14px;
}
.movie-card h3 {
  font-size: 1.2rem;
  color: #f0efef;
  margin: 10px 0;
  font-family: "Roboto Black";
}

.movie-card .details p {
  font-size: 14px;
  font-family: "Roboto Medium";
  color: #131415;
}



.view-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffffff96;
    color: #cc00aa;
    border: none;
    border-radius: 5px;
    font-family: "Roboto Medium";
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.view-button:hover {
    background-color: #cc00aa;
    color: #fff;
    transform: scale(1.05); /* Slight scaling effect on hover */
}


.prev-btn .next-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: background-color 0.2s ease;
}

.prev-btn,
.prev-btn2,
.prev-btn3,
.prev-btn4,
.prev-btn5,
.prev-btn6 {
  padding: 4px;
  height: 60px;
  margin-right: 10px;
  box-shadow: #131415;
  border-radius: 20px;
  background-color: #4f4a4a;
  left: -5px;
}

.next-btn,
.next-btn2,
.next-btn3,
.next-btn4,
.next-btn5,
.next-btn6 {
  padding: 4px;
  height: 60px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #4f4a4a;
  right: -10px;
}

.next-btn:hover,
.next-btn2:hover,
.next-btn3:hover,
.next-btn4:hover,
.next-btn5:hover,
.next-btn6:hover,
.prev-btn:hover,
.prev-btn2:hover,
.prev-btn3:hover,
.prev-btn4:hover,
.prev-btn5:hover,
.prev-btn6:hover {
  background-color: rgba(106, 28, 145, 0.8);
}
