@import url(font.css);

footer{
    height: 80vh;
    background-color: #222426;
    color: white;
}

.footer-logo-container{
    padding-top: 30px;
    padding-left: 50px;
    align-items: center;
}

.footer-logo-container > p{
    font-family: 'Roboto Bold';
    font-size: 1.2rem;
}

footer > div:nth-child(2){
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 30px;
    padding-inline: 0px;
    height: auto;
}

.footer-subcontainer{
    width: 15%;
}

.footer-subcontainer > h2{
    font-size: 0.9rem;
    color: #cc00aa;
}